{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'import_csv' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <header>
                    <h1 class="text-center">
{{'admin' | trans }} : {{ 'import_csv' | trans }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_csv' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <div style="display:flex">
                                <a href="{{ path('user_add') }}" class="btn btn-primary">
                                    <i class="bi bi-plus"></i> {{'add_user' | trans }}
                                </a>
                                <a href="{{ path('export_csv') }}" class="btn btn-primary" style="margin-left: auto">
                                    <i class="bi bi-download"></i> {{ 'export_file'| trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card w-100 mb-2" >
                                <div class="card-body">
                                    <h4>{{ 'import_file'| trans }}</h4>
{{ form_start(form, {'attr': {'id': 'form'}}) }}
{{ form_widget(form) }}
                                    <button name="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
                                    <button name ="preview" class="btn btn-primary">{{ 'preview'|trans }}</button>
{{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>

//Soumet le formulaire dès l'upload du fichier
/*let inputFile = document.getElementById('user_csv_csvFile');
inputFile.onchange = function() {
    let form = document.getElementById('form');
    form.submit();
}*/
</script>
{% endblock %}




