{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
{{'new.user' | trans }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_useradd' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <a href="{{ path('user_admin') }}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'users' | trans | lower }}</a>
                        </div>
                    </div>
                    <div class="row mt-3" >
                        <div class="col-2">
                            <div class="card">
                                <div class="card-body d-flex justify-content-center">
                                    <h2 class="avatar bg-primary d-none d-lg-block">
{{ userForm.vars.value.username | first | capitalize }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="card">
                                <div class="card-body">
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}
{{ form_start(userForm) }}
{{ form_row(userForm.username) }}
{{ form_row(userForm.firstName) }}
{{ form_row(userForm.lastName) }}
{{ form_row(userForm.email) }}
{{ form_row(userForm.plainPassword) }}
{{ form_row(userForm.roles) }}
                                    <div style="display: flex">
{{ form_row(userForm.Submit) }}
                                        <button style="height: 50%" class="btn-primary btn" name="continue" value="continue">{{ 'submit.continue'|trans }}</button>
                                    </div>
{{ form_end(userForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
