{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
	<div class="container-fluid">
		<div class="row">
{% include 'admin.menu.html.twig' %}
			<main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

				<header>
					<h1 class="text-center">
{{'admin' | trans }} : {{ 'users' | trans }}
					</h1>
			        <div class="container">
			            <div class="col-12">
			                <div class="card p-3 mb-3">
{{ 'jumbo_explication_users' | trans | markdown_to_html }}
			                </div>
						</div>
					</div>
				</header>
				<div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
					<div class="row mb-2">
						<div class="col-12">
							<div style="display:flex">
								<a href="{{ path('user_add') }}" class="btn btn-primary">
									<i class="bi bi-plus"></i> {{'add_user' | trans }}
								</a>
								<a href="{{ path('user_csv') }}" class="btn btn-primary" style="margin-left: auto">
									<i class="bi bi-plus-circle"></i> {{ 'add.csv'|trans }}
								</a>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="card">
{% if total > 20 %}
								<ul class="pagination">
									{#la fleche de retour arriere, désactivé si on est page 1#}
									<li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
										<a  class="page-link" href="{{ (page > 1) ? '?page='~(page - 1) : '' }}">
											<i class="bi bi-arrow-left-square"></i>
										</a>
									</li>

									{#total d'user diviser par la limit, arrondie à l'entier superieur,
									 donne le nombre max de pages#}
									{% set pages = ((total / limit)|round(0, 'ceil'))%}

									{% for item in 1..pages %}
										<li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
											<a class="page-link" href="?page={{ item }}">{{ item }}</a>
										</li>
									{% endfor %}

									<li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
										<a class="page-link" href="{{ (page < pages) ? '?page='~(page + 1) : '' }}">
											<i class="bi bi-arrow-right-square"></i>
										</a>
									</li>
								</ul>
{% endif %}
								<div class="card-body table-responsive">
									<table class="table table-centered" style="width:100%;">
										<thead class="thead-light">
											<tr>
												<th style="width:5%;">&nbsp;</th>
												<th style="width:18%">{{ 'username' | trans }}</th>
												<th style="width:18%;">{{ 'role' | trans }}</th>
												<th style="width:47%;">{{ 'email' | trans }}</th>
												<th style="width:6%;">{{ 'edit' | trans }}</th>
												<th style="width:6%;">{{ 'delete' | trans }}</th>
											</tr>
										</thead>
										<tbody>
{% for user in users %}
											<tr>
												<td>
	{% if user.image %}
		{% if user.image|split('.')|last is same as('svg') %}
													<img  src="{{ asset('img/upload/users/'~ user.image)}}" height="20px" >
		{% else %}
													<img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('themes_list')}}" />
		{% endif %}
	{% else %}
													<div class="avatar avatar-sm bg-primary">{{ user.firstname | first | capitalize }}{{ user.lastname | first | capitalize }}</div>
	{% endif %}
												</td>
												<td>
													<a {% if user.bannedFrom.count > 0 %} style="color: red" {% else %} class="text-primary"{% endif %} href="{{ path('user_admin_edit', {'id' : user.id}) }}" >{{ user.username }}</a>
												</td>
												<td>{{ user.roles[0] | trans}}</td>
												<td>{{ user.email }}</td>
												<td class="text-center">
													<a href="{{ path('user_admin_edit', {'id' : user.id}) }}" class="text-primary"><i class="bi bi-list-task"></i></a>
												</td>
												<td class="text-center">
	{% if app.user is not same as(user)%}
													<a href="{{ path('user_delete', {'id' : user.id}) }}" class="text-primary"  data-toggle="deleteConfirmation"><i class="bi bi-trash"></i></a>
												</td>
	{% endif %}
											</tr>
{% endfor %}

										</tbody>
									</table>
{% if total > 20 %}
									<ul class="pagination">
										<li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
											<a  class="page-link" href="{{ (page > 1) ? '?page='~(page - 1) : '' }}">
												<i class="bi bi-arrow-left-square"></i>
											</a>
										</li>
										{% set pages = ((total / limit)|round(0, 'ceil'))%}
										{% for item in 1..pages %}
											<li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
												<a class="page-link" href="?page={{ item }}">{{ item }}</a>
											</li>
										{% endfor %}
										<li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
											<a class="page-link" href="{{ (page < pages) ? '?page='~(page + 1) : '' }}">
												<i class="bi bi-arrow-right-square"></i>
											</a>
										</li>
									</ul>
{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
