{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'import_csv' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <header>
                    <h1 class="text-center">
{{'admin' | trans }} : {{ 'import_csv' | trans }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_csv' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                <div class="row mb-2 mt-3">
                    <div class="col-12">
                        <div class="card w-100 mb-2">
                            <div class="card-body">
                                <h4 style="text-align: center">{{ 'preview_title'| trans }}</h4>
                                <article class="text-center mb-2">
                            {{ filePreview | raw}}
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="display:flex">
                            <a class="btn btn-primary" href="{{ path('user_csv', {'filename':filename}) }}">
                                <i class="bi bi-arrow-left-short"></i> {{ 'cancel'| trans }}
                            </a>
                            <a class="btn btn-primary ml-auto" style="margin-left:auto;" href="{{ path('user_csvfile', {'filename':filename}) }}">
                                <i class="bi bi-download"></i>{{ 'confirm'| trans }}
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}





