{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
<link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %} -
    {{ 'register'  | trans}}
{% endblock %}

{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
	<main id="login" role="login">
		<div class="container">
			<h2 class="mb-3">{{'register' | trans }}</h2>
			<div class="card col-12 mb-4">
				<div class="card-body">
{% if website.registrationMessage %}
	{{ website.registrationMessage | raw }}
{% else %}
	{{ 'your_inscription' | trans | markdown_to_html }}
					<p class="bienvenue">
	{{ 'wellcome' | trans }}
    {% if website.title %}
		{{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    				</p>
{% endif %}
				</div>
			</div>
{% if app.user %}
			<div class="mb-3">
				{{ 'signin.already' | trans }} <b>{{ app.user.username }}</b>.
				<br /><a href="{{ path('app_logout') }}">{{ 'logout' | trans }}</a>
			</div>
{% else %}
	{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
	{{ form_start(registrationForm, {'attr' : { 'class' : 'form-signin'}}) }}
	{{ form_row(registrationForm.firstName) }}
	{{ form_row(registrationForm.lastName) }}
	{{ form_row(registrationForm.username) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword) }}
			<hr />
			<button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'register' | trans }}</button>
			<br />
			<a href="{{path('app_login')}}">{{ 'or_sign_in' | trans }}</a>
	{{ form_end(registrationForm) }}
{% endif %}
		</div>
	</main>
{% endblock %}
