<div class="row mb-2" >
    <div class="col-12">
{% if app.user and workshop.voteStatus %}
    {% set vFa = 0 %}
    {% set vAg = 0 %}
    {% set vM = 0 %}
    {% set vD = 0 %}
    {% set vTd = 0 %}
    {% set hasVoted = false %}
    {% for vote in proposal.votes %}
        {% if vote.votedFullAgreement > 0 %} {% set vFa = vFa + 1 %} {% endif %}
        {% if vote.votedAgree > 0 %} {% set vAg = vAg + 1 %} {% endif %}
        {% if vote.votedMixed > 0 %} {% set vM = vM + 1 %} {% endif %}
        {% if vote.votedDisagree > 0 %} {% set vD = vD + 1 %} {% endif %}
        {% if vote.votedTotalDisagreement > 0 %} {% set vTd = vTd + 1 %} {% endif %}
        {% if app.user == vote.user %}{% set hasVoted = true %}{% endif %}
    {% endfor %}
{# Si le vote est possible, on affiche les 5 icones de vote avec confirmation. #}
    {% if hasVoted == false %}
        <div class="inline-group">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFullAgreement', 'user' : app.user.id }) }}"
               class="btn btn-success vote-border"
                    type="button" id="link-vote"
                    aria-expanded="false">
                {{ 'full-agreement' | trans }}
            </a>
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgree', 'user' : app.user.id }) }}"
               class="btn btn-success vote-border"
                    type="button" id="link-vote"
                    aria-expanded="false">
                {{ 'agree' | trans  }}
            </a>
            <a  href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedMixed', 'user' : app.user.id }) }}"
            class="btn btn-outline-secondary  vote-border "
               role="button" id="link-vote"
                aria-expanded="false">{{ 'mixed' | trans  }}
            </a>
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedDisagree', 'user' : app.user.id }) }}"
               class="btn btn-danger vote-border"
                    role="button" id="link-vote"
                    aria-haspopup="true"
                    aria-expanded="false">
                {{ 'disagree' | trans  }}
            </a>
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedTotalDisagreement', 'user' : app.user.id }) }}"
               class="btn btn-danger  vote-border"
                    type="button" id="link-vote"
                    aria-expanded="false">
                {{ 'total-disagreement' | trans  }}
            </a>
        </div>
    {% else %}
{# Supprimer son vote #}
        <div class="inline-group">
        {% for vote in proposal.votes %}
            {% if app.user == vote.user %}
            <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm" data-toggle="deleteConfirmation">
                <i class="bi bi-trash"></i> {{ 'vote-delete' | trans }}
            </a>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% elseif date(workshop.dateVoteEnd) < date() %}
    {% if workshop.anonymous is same as(false) %}
        {{ jumbo_votants | trans | markdown_to_html }}
    {% else %}
        {{ 'warning_anonymous' | trans | markdown_to_html }}
    {% endif %}
{% endif %}
    </div>
</div>
