<div class="card">
	<div class="card-body">
{% if workshop.theme.voteType == 'yes-delegation' or workshop.theme.voteType == 'no-delegation' %}
	{% include 'vote/yes-no.html.twig' %}
{% elseif workshop.theme.voteType == 'weighted-delegation' or workshop.theme.voteType == 'weighted' %}
	{% include 'vote/weighted.html.twig' %}
{% else %}
	{% include 'vote/levelled.html.twig' %}
{% endif %}
{{ workshop.theme.voteType }}
	</div>
</div>