<div class="row mb-2">
{% set pointsADonner = workshop.theme.points %}
{% for proposal in workshop.proposals %}
    {% for vote in proposal.votes %}
        {% if app.user is same as(vote.user) %}
            {% set pointsADonner = pointsADonner - vote.votedPoints %}
        {% endif %}
    {% endfor %}
{% endfor %}
<script src="{{ asset('js/scriptWeightedVote.js') }}"></script>

    <div class="col-12">
{% if app.user and date(workshop.dateVoteEnd) >= date() %}
{# Le select, pour choisir avec qui on vote #}
        <select id="selection{{ proposal.id }}" style="max-height: 25px">
            <option value="">{{ 'vote.as' | trans }}</option>
            <option value="{{ app.user.id }}">{{ app.user }}</option>
    {% if app.user.delegationsTo.count > 0 %}
        {% for delegation in app.user.delegationsTo %}
            {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
            <option value="{{ delegation.userFrom.id }}">{{ delegation.userFrom.username }}</option>
            {% endif %}
        {% endfor %}
    {% endif %}
        </select>
{# Affichage du formulaire #}
        <article id="VoteDelegation{{ app.user.id ~ proposal.id}}">
            <span>{{ 'points.remaining'|trans }} {{ pointsADonner }}</span>
            <form method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : app.user.id }) }}" >
                <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                <input type="number"  name="selectPoints{{ proposal.id }}" max="{{ pointsADonner }}"/>
                <imput type="submit" value="Je vote" />
            </form>
        </article>
        <script>initialise({{ proposal.id }})</script>



            {# si on a des delegations #}
            {% if app.user.delegationsTo.count > 0 %}
                {% for delegation in app.user.delegationsTo %}
                    {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                         <article id="VoteDelegation{{ delegation.userFrom.id ~ proposal.id}}">
                             <span>{{ 'points.remaining'|trans }} <p id="pMaxDelegation{{ delegation.userFrom.id ~ proposal.id}}"></p></span>
                             <form method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : delegation.userFrom.id }) }}" >
                                 <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                                <input type="number"  name="selectPoints{{ proposal.id }}" id="selectPoints{{ proposal.id ~ delegation.userFrom.id }}"/>
                             </form>
                         </article>
                        <script>initialise({{ proposal.id }})</script>
                    {% endif %}

                {% endfor %}
            {# si ya pas de délégations #}
            {% else %}
                <article id="VoteDelegation{{ app.user.id ~ proposal.id}}">
                    <span>{{ 'points.remaining'|trans }}<p>{{ pointsADonner }}</p></span>
                    <form method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : app.user.id }) }}" >
                        <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                        <input type="number"  name="selectPoints{{ proposal.id }}" max="{{ pointsADonner }}" id="selectPoints{{ proposal.id ~ app.user.id }}"/>
                    </form>
                </article>
                <script>initialise({{ proposal.id }})</script>
            {% endif %}
            {# -------------------------------------------------------------------------------------------------- #}
                                    {# Premier formulaire, voter en son nom #}
            {# -------------------------------------------------------------------------------------------------- #}

            {% for vote in proposal.votes %}
                {% if app.user.id is same as(vote.user.id) %}

                {% else %}

                    <article id="VoteDelegation{{ app.user.id ~ proposal.id}}">
                        <span>{{ 'points.remaining'|trans }}<p>{{ pointsADonner }}</p></span>
                        <form method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : app.user.id }) }}" >
                            <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                            <input type="number"  name="selectPoints{{ proposal.id }}" max="{{ pointsADonner }}" id="selectPoints{{ proposal.id ~ app.user.id }}"/>
                        </form>
                    </article>
                    <script>initialise({{ proposal.id }})</script>
                {% endif %}

            {% endfor %}


            {# -------------------------------------------------------------------------------------------------- #}
                                    {# Formulaires pour les délégations #}
            {# -------------------------------------------------------------------------------------------------- #}

            {% for delegation in app.user.delegationsTo %}
                {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                    {% for vote in proposal.votes %}
                        {% if delegation.userFrom is same as(vote.user) %}
                            {# Pas de formulaire si on a deja voté avec ce compte, juste le nombre de points restant #}
                        {% else %}

                            <article id="VoteDelegation{{ delegation.userFrom.id ~ proposal.id}}">
                                <span>{{ 'points.remaining'|trans }} <p id="pMaxDelegation{{ delegation.userFrom.id ~ proposal.id}}"></p></span>
                                <form method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : delegation.userFrom.id }) }}" >
                                    <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                                    <input type="number"  name="selectPoints{{ proposal.id }}" id="selectPoints{{ proposal.id ~ delegation.userFrom.id }}"/>
                                </form>
                            </article>
                            <script>initialise({{ proposal.id }})</script>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% endfor %}
    {% elseif app.user and date(workshop.dateVoteEnd) < date() %}
        {# Si le vote n'est plus possible, on affiche juste une icone #}
        <div class="btn vote-border ">{{ 'vote.close' | trans }}</div>
    {% endif %}


    {% if app.user and date(workshop.dateVoteEnd) > date() %}

     {#Supprimer son vote#}
        {% for vote in proposal.votes %}
            {% if app.user == vote.user %}
            <div class="row mb-2" id="divEffacer{{ proposal.id ~ app.user.id }}">
                <div class="col-12">
                    <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm"
                        data-toggle="deleteConfirmation"><i
                                class="bi bi-trash"></i> {{ 'vote-delete' | trans }} ({{ vote.votedPoints }})</a>
                </div>
            </div>
            {% endif %}

            {% for delegation in app.user.delegationsTo %}
                {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                    {% if delegation.userFrom == vote.user %}
                    <div class="row mb-2" id="divEffacer{{ proposal.id ~ delegation.userFrom.id }}">
                        <div class="col-12">
                            <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm"
                               data-toggle="deleteConfirmation"><i
                                        class="bi bi-trash"></i> {{ 'vote-delegation-delete' | trans }} {{ delegation.userFrom.username }} ({{ vote.votedPoints }})</a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

        {% endfor %}
    {% elseif app.user and date(workshop.dateVoteEnd) < date() %}

    {% endif %}
</div>

</div>