<div class="row mb-2" >
{% if app.user and workshop.voteStatus %}
    {% set vf = 0 %}
    {% set va = 0 %}
    {% set vb = 0 %}
    {% for vote in proposal.votes %}
        {% if vote.votedFor > 0 %} {% set vf = vf + 1 %} {% endif %}
        {% if vote.votedAgainst > 0 %} {% set va = va + 1 %} {% endif %}
        {% if vote.votedBlank > 0 %} {% set vb = vb + 1 %} {% endif %}
    {% endfor %}

 {#Si l'utilisateur n'a pas de délégation dans ce thème il clique directement pour voter en son nom #}
    {% if app.user.delegationsTo.count is same as(0) or workshop.theme.voteType|trim|split('-')|first is same as('no') %}
        <div class="col-12">
            <div class="inline-group">
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}" class="btn btn-success" type="button" id="link-vote" aria-expanded="false">
        {{ 'for' | trans }}
                </a>
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}" class="btn btn-danger" type="button" id="link-vote" aria-expanded="false">
        {{ 'against' | trans }}
                </a>
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}" class="btn btn-outline-secondary" type="button" id="link-vote" aria-expanded="false">
        {{ 'withholding' | trans }}
                </a>
            </div>
        </div>
{# Si il y a des délégations #}
    {% else %}
        <div class="col-12">
            <div class="inline-group">
        {% for delegation in app.user.delegationsTo %}
            {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'for' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}" class="dropdown-item">
            	{{ 'vote.me' | trans }}
                    	</a>
                {% for delegation in app.user.delegationsTo %}
                    {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : delegation.userFrom.id }) }}" class="dropdown-item">
                        {{ 'vote.as' | trans }} {{ delegation.userFrom.username }}
        	           </a>
                    {% endif %}
                {% endfor %}
                    </div>
                </div>
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-danger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'against' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}" class="dropdown-item">
                {{ 'vote.me' | trans }}
        	           </a>
                {% for delegation in app.user.delegationsTo %}
                    {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : delegation.userFrom.id }) }}" class="dropdown-item">
                        {{ 'vote.as' | trans }} {{ delegation.userFrom.username }}
                    	</a>
                    {% endif %}
                {% endfor %}
                    </div>
                </div>
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'withholding' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}" class="dropdown-item">
                {{ 'vote.me' | trans }}
                        </a>
                {% for delegation in app.user.delegationsTo %}
                    {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : delegation.userFrom.id }) }}" class="dropdown-item">
            		  {{ 'vote.as' | trans }} {{ delegation.userFrom.username }}
                        </a>
                    {% endif %}
                {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
            </div>
        </div>
    {% endif %}
{# Supprimer son vote#}
        <div class="col-12">
            <div class="row mb-2" >
                <div class="col-12">
    {% for vote in proposal.votes %}
        {% if app.user == vote.user %}
                    <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm" data-toggle="deleteConfirmation">
                    	<i class="bi bi-trash"></i> {{ 'vote-delete' | trans }}
                    </a>
        {% endif %}
        {% for delegation in app.user.delegationsTo %}
            {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                {% if vote.user == delegation.userFrom %}
                    <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm" data-toggle="deleteConfirmation">
                    	<i class="bi bi-trash"></i><div class="avatar-sm bg-light text-secondary">{{ delegation.userFrom | first | capitalize }}</div>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
                </div>
            </div>
        </div>

{# Si le vote n'est plus possible, on affiche la liste des votants en avatars si le vote n'est pas anonyme. S'il est anonyme, on affiche un texte d'explication #}
{% elseif date(workshop.dateVoteEnd) < date() %}
	<div class="col-12">
	{% if workshop.anonymous is same as(false) %}
		{{ jumbo_votants | trans | markdown_to_html }}
	{% else %}
		{{ 'warning_anonymous' | trans | markdown_to_html }}
	{% endif %}
	</div>
{% endif %}
</div>

