main {
    overflow: hidden;
    min-height: 100vh;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 3rem;
    line-height: 40px;
}
.progress {
    display: flex;
    height: 0.8rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #dee2e6;
    border-radius: 20rem;
}
/***** Menus *****/
.nav-link i {margin-right: 0.35rem;}
.nav-link.active {color: #17a2b8;}

/***** Sidebar *****/
#admin-menu {margin: 1.5 rem 0 0 0!important;padding: 0!important;}
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    color: #fff; 
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}

/***** Buttons *****/
.btn {box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;}
.btn-success {background-color:#0fba27 ;}
.btn-primary {background-color: #19ade3;}
.btn-primary:hover {background-color: #2971d6;}
.btn-dashboard {background: #19ade3; color: white;}

/***** Forms *****/
label {
    display: inline-block;
    margin-bottom: .5rem;
}

/***** Tables *****/
.table, table {border-collapse: collapse;}
.table th, td {border-bottom: 1px solid #ddd;}

/***** Dashboard *****/
.dashboard h2 {margin-top: 1rem;}
.btn-dashboard {display: block;width: 50px;height: 50px;float: left;margin: 0 1rem;padding-top: 0.3rem;}
.card {background-color: rgba(255,255,255,0.8);}
.btn-dashboard {text-align: center;font-size: 1.5rem;}
.dashboard h2 {font-size: 1.5em;vertical-align: middle;}

/***** Explanations *****/
.new-user-jumbotron i:after{content: ' ';}

/***** Cards *****/

.card-img-top{
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
}
.card-link + .card-link {margin-left: 0px !important;}
.card-text h2 {
    margin-bottom: 1em;
    text-align: center;
}
.card-text>blockquote {color: #19ade3;}
.card-link, .card-link:hover {color: #212529;text-decoration: none !important;}
a.card-link:hover .btn-dashboard {background: #2971d6;}

/***** Breadcrumbs *****/
.breadcrumb {
    : 14px;
    padding: .35rem 0.6rem;
    margin-bottom: 0rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 1px black;
    color: grey;background: transparent;
}

/***** Footer *****/
footer, .footer {color: #fff;background-color: #343a40;}

/* Aspect de la barre de défilement latéral. Efficace sauf sur Firefox et IE*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}