
 
.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.8);
}
 

 
a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #2971d6; /* for browsers that don't recognize rgba */
    border: 0;
    color: #fff;
    box-shadow: none;
}
/*Bouton pour fermer */
.dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    cursor: pointer;
}
 
.dismiss:hover,
.dismiss:focus {
    background: #2971d6;
    color: #fff;
}

/* Elements de menu */
.sidebar ul.menu-elements {
    padding-top: 3rem;
    border-bottom: 1px solid #444;
    transition: all .3s;
}
.sidebar p {padding: 0.7rem 1.5rem;}
.sidebar p span.avatar {margin-right:0.5rem;font-size: 1.4rem;padding: 0.3rem 0.6rem;color: #fff;display: inline-block;}
.sidebar ul li a {
    display: block;
    padding: 0.7rem 2rem;
    border: 0;
    color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #e0eff8;
    color: #19ade3;
}
.sidebar ul li a i {
    margin-right: 5px;
}
 
.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

/* Menu Admininstration */

.navbar-toggler-icon {color: #fff;}
.navbar-toggler-icon i{font-size: 1.4em;}
.navbar-toggler {padding: .25rem .40rem;}
/* Media Queries */
@media (max-width: 580px) {
    .open-menu {
        width: 50px;
        height: 50px;
        top: 10px;
        right: 10px;
        left: auto;
    }
}

.invisibleInput{
    z-index: 4;
    opacity: 0;
    position: absolute;
    bottom: 0;
}
.parDessus{
    z-index: auto;
    position: absolute;
   bottom: 0;
    left: 35%;
}
.parDessusSupprimer{
    z-index: auto;
    position: absolute;
   bottom: 15px;
    left: 30%;
}

.configContainer{
    display: flex;
    height: 150px;
}

.configImage{
    width: 50%;
    position: relative;
}

.configInvisibleInputImage{
    z-index: 4;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 65px;
    width: 80%;
}

.configParDessusImage{
    z-index: auto;
    position: absolute;
    bottom: 8px;
    left: 32%;
    width: 125px;
}

.configParDessusSupprimerImage{
    z-index: auto;
    position: absolute;
    bottom: 10px;
    left: 30%;
    width: 120px;
}