{# Afficher tous les users dans une sidebar pour les ajouter aux catégories #}
<div id="usersSidebar" class="sidebar-right">
    <a href="javascript:void(0)" class="closebtn" onclick="closeUsersNav()">×</a>

    <div id="js-sidebar-content">
        <div class="content">

            {% for user in users %}
            {{ user }}
            {% endfor %}
        </div>
    </div>


</div>