{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
{{ 'category' | trans }} : {{ form.vars.value.name }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_cat' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
                    <div class="col-12">
                        <div style="display:flex">
                            <a href="{{ path('category_admin') }}" class="btn btn-secondary btn-sm">
                                <i class="bi bi-arrow-bar-left"></i> 
{{ 'list_of' | trans }} {{ 'categories' | trans | lower }}
                            </a>
                            <a href="{{ path('category_delete', {'category' : form.vars.value.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation">
                                <i class="bi bi-trash"></i> {{ 'delete' | trans }}
                            </a>
                            <a href="{{ path('admin_cgu', {'id': category.id}) }}" class="btn btn-primary" style="margin-left:auto;">
                                <i class="bi bi-plus"></i> {{ 'cgu.add'|trans }}
                            </a>
                            <a href="{{ path('admin_read_cgu', {'id':category.id}) }}" class="btn btn-info">
                                <i class="bi bi-eye"></i> {{ 'cgu' | trans }}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ml-sm-auto">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="card mt-3">

                                        <div class="card-body" >
{% if category.image %}
    {% if category.image|split('.')|last is same as('svg') %}
                                            <img   src="{{ asset('img/upload/categories/'~ category.image)}}" class="img-fluid" alt="{{ category.image }}" style="padding-bottom: 30px">
    {% else %}
                                            <img src="{{ vich_uploader_asset(category, 'imageFile') | imagine_filter('themes_home') }}" class="img-fluid" alt="{{ category.image }}" style="padding-bottom: 30px"/>
    {% endif %}
                                            <input id="fauxBoutonSupprimer" class="parDessusSupprimer btn btn-danger btn-sm" type="button" value="{{ 'delete'|trans }}">
                                            <article class="invisibleInput" >
    {{ form_row(form.imageFile) }}
                                            </article>
{% else %}
                                            <img src="{{ asset('img/logo_aem-lg.png') }}" class="img-fluid" alt="logo" style="padding-bottom: 20px"/>
                                            <input id="fauxBouton" class="parDessus btn btn-secondary btn-sm" type="button" value="{{ 'choose'| trans }}">
                                            <article class="invisibleInput" >
    {{ form_row(form.imageFile) }}
                                            </article>
{% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="card mt-3">
                                            <div class="card-body">
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.users) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input id="categorieId" type="hidden" value="{{ category.id }}">
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
//Permet de soumettre le formulaire dès le changement de photo
$('.custom-file-input').on('change', function(event) {

    //Affiche le nom de l'image lors de l'upload, pas sur de la necessité
    /*let nomImage = (document.getElementById("category_imageFile_file").value).slice(12);
    let bouton = document.getElementById('fauxBouton');
    bouton.setAttribute('value', nomImage);*/

    let form = document.getElementById('form_upload');
    form.submit();
});
//Permet de soumettre le formulaire dès le click sur "Supprimer" sous photo
let checkSupprimer = document.getElementById('category_imageFile_delete');
checkSupprimer.onchange = function (){
     let form = document.getElementById('form_upload');
    form.submit();
}
</script>
{% endblock %}