{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'add_a_proposal' | trans }}
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
                    {{ 'add_a_proposal' | trans }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
	<main id="proposal">
		<div class="container">
{% include 'workshop/overview-2.html.twig' %}
{% include 'flashbag.html.twig' %}
	        <div class="row mb-3">
            	<div class="col-12">
            		<h2 class="mb-3 mt-2 pt-2 pb-2">{{ workshop.name }}</h2>
            	</div>
            	<div class="col-12">
					<div class="card">
						<div class="card-body">
{% if workshop.forumStatus %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
{% else %}
    <div class="text-danger">{{ 'warning-add-proposal' | trans | markdown_to_html }}</div>
{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
