{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'modify_a_proposal' | trans }}
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
                    {{ 'edit_a_proposal' | trans }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
	<main id="proposal">
		<div class="container">
{% include 'proposal/overview-2.html.twig' %}
{% include 'flashbag.html.twig' %}
	        <div class="row mt-3 mb-3">
            	<div class="col-12">
					<div class="card mt-3 shadow-lg">
						<div class="card-body">
{% if workshop.forumStatus %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
{% else %}
                            <div class="text-danger">
    {% if app.user %} 
        {% if app.user == proposal.user %}
            {{ 'warning-edit-proposal' | trans | markdown_to_html }}
        {% else %}
            {{ 'warning-wrong_user-proposal' | trans | markdown_to_html }}
        {% endif %}
    {% else %}
        {{ 'warning-no-user-proposal' | trans | markdown_to_html }}
    {% endif %}
                            </div>
{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
