{# Calcul des différentes variables pour la mise en forme des résultats #}
{% set quorumRequired = proposal.workshop.quorumRequired %}
{% set nbPossibleVoters = proposal.workshop.theme.category.users.count %}
{% set quorum =  nbPossibleVoters * quorumRequired / 100 %}
{% set nbCurrentVotersFor = 0 %}
{% set nbCurrentVotersAgainst = 0 %}
{% set nbCurrentVotersBlank = 0 %}
{% for votes in proposal.votes %}
    {% if votes.votedFor %}
        {% set nbCurrentVotersFor = nbCurrentVotersFor + 1 %}
    {% elseif votes.votedAgainst %}
        {% set nbCurrentVotersAgainst = nbCurrentVotersAgainst + 1 %}
    {% elseif votes.votedBlank %}
        {% set nbCurrentVotersBlank = nbCurrentVotersBlank + 1 %}
    {% endif %}
{% endfor %}
{% set totalVoters = nbCurrentVotersFor+nbCurrentVotersAgainst+nbCurrentVotersBlank %}
{# Fin des calculs #}

<div class="col-sm-12 col-lg-6 d-flex justify-content-center">
    <div class="card {{cycle(['mr-3','ml-3'], loop.index) }} p-1 shadow w-100">
        <div class="card_header pl-3 pt-3">
            <div class="row">
                <div class="col-11">
                    <a href="{{ path('proposal_index', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="card-link">
                        <h3>
{{ proposal.name }}
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body align-content-center" id="proposal-{{proposal.id}}">
            <a href="{{ path('proposal_index', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="card-link">
{{ proposal.description | striptags | truncate(500, true) | raw }}
            </a>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="mr-auto">
                    <div class="btn-group mb-3 mr-auto" role="group">
{% if app.user and app.user == proposal.user and workshop.forumStatus %}
                        <a href="{{ path('proposal_edit', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="btn bg-primary nav-link btn-sm">
                            <i class="bi bi-file-earmark-font" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="ml-1">
                    <div class="btn-group mb-3" role="group">
                        <a href="{{ path('proposal_delete', {'workshop' : workshop.id, 'theme' : workshop.theme.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="btn bg-danger nav-link btn-sm" data-toggle="deleteConfirmation">
                            <i class="bi bi-trash" aria-hidden="true"></i>
                        </a>
{% endif %}
{% if workshop.forumStatus and app.user and app.user != proposal.user %}
                        <a href="{{ path('report_proposal', {'slug' : slug, 'idProposal': proposal.id}) }}" class="btn btn-light" style="margin-left: 90%" data-toggle="deleteConfirmation">
                            <i class="bi bi-flag"  title="{{ 'reporter'|trans }}"></i>
                        </a>
{% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">
{{ 'discussions' | trans }} : {{ proposal.forums |length }}
                        </li>
{% if is_granted ('ROLE_ADMIN_RESTRICTED') or is_granted ('ROLE_ADMIN') or date() > workshop.dateVoteEnd() %}
    {% if date() >= workshop.dateVoteBegin() %}
                        <li class="list-group-item">
        {{ 'votes-number' | trans }} : {{ proposal.votes |length }}
                        </li>
    {% endif %}
                        <li class="list-group-item active">
    {% if totalVoters >= quorum %}
        {{ 'quorum_attained' | trans }}
    {% else %}
        {{ 'quorum_notattained' | trans }}
    {% endif %}
                        </li>
{% endif %}
{% for votes in proposal.votes %}
    {% if votes.user is same as(app.user) %}
        {% if votes.votedFor %}
                        <li class="list-group-item text-warning">
            {{ 'vote.already'|trans }}{{ 'for'|trans }}
                        </li>
        {% elseif votes.votedBlank %}
                        <li class="list-group-item text-warning">
            {{ 'vote.already'|trans }}{{ 'withholding'|trans }}
                        </li>
        {% else %}
                        <li class="list-group-item text-warning">
            {{ 'vote.already'|trans }}{{ 'against'|trans }}
                        </li>
        {% endif %}
    {% endif %}
{% endfor %}
                    </ul>
                </div>
{# Si l'utilisateur est un administrateur restreint ou complet, ou si la date des votes est dépassée, on lui montre l'etat du quorum#}
{% if is_granted ('ROLE_ADMIN_RESTRICTED') or is_granted ('ROLE_ADMIN') or date() > workshop.dateVoteEnd() %}
                <div class="col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item{% if nbCurrentVotersFor>=nbCurrentVotersAgainst and nbCurrentVotersFor>=nbCurrentVotersBlank and nbCurrentVotersFor!=0%} active{% endif %}">
    {{ 'for' | trans}} : {{ nbCurrentVotersFor }}
                        </li>
                        <li class="list-group-item{% if nbCurrentVotersAgainst>=nbCurrentVotersFor and nbCurrentVotersAgainst>=nbCurrentVotersBlank and nbCurrentVotersAgainst!=0 %} active{% endif %}">
    {{ 'against' | trans}} : {{ nbCurrentVotersAgainst }}
                        </li>
                        <li class="list-group-item">
    {{ 'withholding' | trans}} : {{ nbCurrentVotersBlank }}
                        </li>
                    </ul>
                </div>
{% endif %}
                <div class="d-flex d-flex-nowrap">
{% for voter in proposal.workshop.theme.category.users %}
                    <div class="avatar avatar-list avatar-sm bg-light text-secondary bg-danger
                    {% for vote in proposal.votes %}{% if vote.user == voter %}{% if vote.votedFor %} for{% elseif vote.voteAgainst %} against{% else %} abst {% endif %}{% else %} no-vote{% endif %}{% endfor %}">
    {{ voter.firstname | first | capitalize }}{{ voter.lastname | first | capitalize }}
                    </div>
{% endfor %}
                </div>
{# Une fois la période de vote finis, on montre qui vote quoi si l'atelier n'est pas anonyme #}
{% if  date() > workshop.dateVoteEnd() %}
    {% if workshop.anonymousVote is same as(false) %}
                <div class="col-lg-6">
                    <ul class="list-group">
        {% for vote in proposal.votes %}
            {% if vote.votedFor is  same as(true) %}
                        <li class="list-group-item">
                {{ vote.user.username }} : {{ 'for'|trans }}
                        </li>
            {% elseif vote.votedAgainst is  same as(true) %}
                        <li class="list-group-item">
                {{ vote.user.username }} : {{ 'against'|trans }}
                        </li>
            {% else %}
                        <li class="list-group-item">
                {{ vote.user.username }} : {{ 'withholding'|trans }}
                        </li>
            {% endif %}
        {% endfor %}
                    </ul>
                </div>
    {% endif %}
{% endif %}
            </div>
        </div>
    </div>
</div>