<div class="card mb-5 mt-3 shadow-lg">

    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-img2">
                    {% if website.logo %}
                        {% if website.logo|split('.')|last is same as('svg') %}
                            <img  src="{{ asset('img/upload/website/'~ website.logo)}}" class="mx-auto my-5 d-block" height="200px">
                        {% else %}
                            <img src="url("{{ vich_uploader_asset(website,'logoFile') | imagine_filter('workshops_home') }}")">
                        {% endif %}
                    {% else %}
                    <img src="{{ asset('img/logo_aem-lg.png') }}"  class="mx-auto my-5 d-block" >
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card-text">
					{{'jumbotron.1' | trans |markdown_to_html }}
                    {{'jumbotron.3' | trans |markdown_to_html }}
				</div>
			</div>
		</div>
	</div>
</div>