
{# On calcule le nombre de propositions et de forums dans chaque theme, pour pouvoir l'afficher dans un tooltip #}
{% set nbProposals = 0 %}
{% set nbForums = 0 %}
   {% for w in theme.workshops %}
       {% set nbProposals =  nbProposals + w.proposals.count %}
       {% for p in w.proposals %}
           {% set nbForums = nbForums + p.forums.count %}
       {% endfor %}
   {% endfor %}
<div class="col-xl-6 col-sm-12 mb-4">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('workshop_index', {'slug' : theme.name | slugify, 'theme' : theme.id }) }}" class="card-link">
                        {% if theme.image %}
                            {% if theme.image|split('.')|last is same as('svg') %}
                                <img class="bd-placeholder-img card-img-top img-fluid"  src="{{ asset('img/upload/themes/'~ theme.image)}}">
                            {% else %}
                                <img class="bd-placeholder-img card-img-top img-fluid"
                                     src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('themes_home') }}"/>
                            {% endif %}
                        {% else %}
                            <img class="bd-placeholder-img card-img-top"
                                 src="{{ asset('img/logo_aem-lg-dark.png') }}"/>
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div>
                        {% if app.user %}
                            <a href="{{ path('workshop_index', {'slug' : theme.name | slugify, 'theme' : theme.id }) }}" class="card-link">
                                <h3 class="card-theme-title">{{ theme.name }}</h3>
                            </a>
                            <p class="card-theme-subtitle">{{ 'category' | trans }} : {{ theme.category.name }}</p>
                            <div class="card-body pl-3">
                                {% if theme.description | length > 300 %}
                                    {{ theme.description | truncate(300, true) | raw }}
                                    <a href="{{ path('workshop_index', {'slug' : theme.name | slugify, 'theme' : theme.id }) }}" class="card-link">
                                        <span class="badge badge-secondary float-right" data-toggle="tooltip" data-placement="top" title="{{ theme.description | truncate (60,true) |raw }}">{{ 'read_next' | trans }}</span>
                                    </a>
                                {% else %}
                                    {{ theme.description | raw}}
                                {% endif %}
                            </div>
                        {% elseif not app.user %}
                            <a href="{{ path('workshop_index', {'slug' : theme.name | slugify, 'theme' : theme.id }) }}" class="card-link">
                                <h3 class="card-theme-title">{{ theme.name }}</h3>
                            </a>
                            <div class="card-body pl-3">
                                {% if theme.description | length > 300 %}
                                    {{ theme.description | truncate(300, true) | raw }}
                                    <a href="{{ path('workshop_index', {'slug' : theme.name | slugify, 'theme' : theme.id }) }}" class="card-link">
                                        <span class="badge badge-secondary float-right" data-toggle="tooltip" data-placement="top" title="{{ theme.description | truncate (60,true) |raw }}">{{ 'read_next' | trans }}</span>
                                    </a>
                                {% else %}
                                    {{ theme.description | raw}}
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">{{ theme.workshops.count }} {{ 'workshops' | trans }} | {{ nbProposals }} {{ 'proposals' | trans }} | {{ nbForums }} {{ 'discussions' | trans }}
        </div>
    </div>
</div>
