{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
{{ 'add' | trans }} {{ 'one_workshop' | trans | lower }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_workshops_add' | trans | markdown_to_html }}
                            </div>
                        </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <a href="{{ path('workshop_admin') }}" class="btn btn-secondary btn-sm">
                                <i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'workshops' | trans | lower }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
{{ form_row(form.theme) }}
                                    <div>{{ 'category' | trans }} :
                                        <span id="js_category_theme_name"></span>
                                    </div>
{{ form_row(form.name) }}
{{ form_row(form.description) }}
                                    <aside style="display: none">
{{ form_row(form.imageFile) }}
                                    </aside>
{{ form_row(form.dateBegin) }}
{{ form_row(form.dateEnd) }}
{{ form_row(form.dateVoteBegin) }}
{{ form_row(form.dateVoteEnd) }}
{{ form_row(form.rightsVoteProposals) }}
{{ form_row(form.quorumRequired) }}
{{ form_row(form.writeProposals) }}
{{ form_row(form.anonymousVote) }}
{{ form_row(form.rightsDelegation) }}
{{ form_row(form.keytext) }}
                                    <div>{{ 'keyword' | trans }} :
                                        <span id="js_keywords"></span>
                                    </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </header>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script >
//coche la checkbox "Accepter les nouvelles propositions" par defaut
let checkboxAccept = document.getElementById('workshop_writeProposals');
checkboxAccept.checked = true;

//Adapte la valeur de la checkbox "Délegation autorisée" en fonction du Theme selectionné
let checkbox = document.getElementById('workshop_rightsDelegation');
checkbox.disabled = true;
let selectTheme = document.getElementById('workshop_theme');

//Premiere mise à jour de la checkbox au chargement de la page, au cas ou l'utilisateur ne change pas le theme
checkbox.checked = false;
{% for themeDeleg in themesDelegation %}
        if({{ themeDeleg.id }} == selectTheme.value){
            checkbox.checked = true;
        }
    {% endfor %}

//Mise à jour de la checkbox à chaque changement de theme
selectTheme.onchange = function (){
     checkbox.checked = false;

    {% for themeDeleg in themesDelegation %}
        if({{ themeDeleg.id }} == selectTheme.value){
            checkbox.checked = true;
        }
    {% endfor %}
}

$('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
});




$(document).ready(function () {
    let theme = $('#workshop_theme option:selected').text();
    $.ajax({
        url: '{{ path('category_ajax_theme') }}/'+theme,
        type: 'POST',
        dataType: 'json',
        async: true,
        beforeSend: function(){
             $('#js_category_theme_name' ).html("<span class='spinner-border'></span>");
        },
        success: function (data,status) {
            console.log(data);
             $('#js_category_theme_name' ).html("<strong>"+data[0].category+"</strong>");
        },
        error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
    });



    $('#workshop_theme').on('change',function () {
       theme = $('#workshop_theme option:selected').text();
    $.ajax({
        url: '{{ path('category_ajax_theme') }}/'+theme,
        type: 'POST',
        dataType: 'json',
        async: true,
        beforeSend: function(){
             $('#js_category_theme_name' ).html("<span class='spinner-border'></span>");
        },
        success: function (data,status) {
            console.log(data);
             $('#js_category_theme_name' ).html("<strong>"+data[0].category+"</strong>");
        },
        error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
    });
   })

      $('#workshop_keytext').on('input',function () {
       let text = $('#workshop_keytext').val();
       let textArray = text.split(',');
       let length = textArray.length;
       text = textArray[length-1];
       text = text.toLowerCase().trim();
       console.log(text);
       if (text !== '')
           {
           $.ajax({
        url:"{{ path('keywords_ajax_call') }}/"+text,
        type: 'POST',
        dataType: 'json',
        async: true,
        beforeSend: function(){
             $('#js_keywords').html("<span class='spinner-border'></span>");
        },
        afterSend:  function(){
        },
        success: function (data,status) {
                         $('#js_keywords').html(' ');
            data.map((e) => {
              $('#js_keywords').append("<span class='keyword-suggest'>#"+e.key+" </span>");
            })
                   let keyAnchors = $('.keyword-suggest');
            keyAnchors.on('click',function () {
                let chosenWord = $(this).text().slice(1);
                 let currentInput = textArray.join(',');
                 currentInput = currentInput.slice(0,-text.length);
                 $('#workshop_keytext').val(currentInput+chosenWord+',');
            })
        },
        error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax request failed.');
                }
    })}
   });

})


</script>

{% endblock %}
