{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %} 
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">


                <header>
                    <h1 class="text-center">
            {{ 'admin' | trans }} : {{ 'workshops' | trans }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
            {{ 'jumbo_explication_workshops' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
{% if is_granted ('ROLE_ADMIN_RESTRICTED' ) %}
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('workshop_add') }}" class="btn btn-primary">
                                <i class="bi bi-plus"></i> {{ 'add' | trans }}
                            </a>
                        </div>
                    </div>
{% endif %}
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
{% if total > 20 %}
                                    <ul class="pagination">
                                    {#la fleche de retour arriere, désactivé si on est page 1#}
                                        <li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
                                            <a  class="page-link" href="{{ (page > 1) ? '?page='~(page - 1) : '' }}">
                                                <i class="bi bi-arrow-left-square"></i>
                                            </a>
                                        </li>

                                            {#total d'atelier diviser par la limit, arrondie à l'entier superieur,
                                            donne le nombre max de pages#}
    {% set pages = ((total / limit)|round(0, 'ceil'))%}
    {% for item in 1..pages %}
                                        <li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
                                            <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                                        </li>
    {% endfor %}

                                        <li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
                                            <a class="page-link" href="{{ (page < pages) ? '?page='~(page + 1) : '' }}">
                                                <i class="bi bi-arrow-right-square"></i>
                                            </a>
                                        </li>
                                    </ul>
{% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-centered" style="width:100%;">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width:6%;">&nbsp;</th>
                                                    <th style="width:5%;">{{ 'id' | trans }}</th>
                                                    <th style="width:20%;">{{ 'theme' | trans }}</th>
                                                    <th style="width:15%;">{{ 'name' | trans }}</th>
                                                    <th style="width:80%;">{{ 'description' | trans }}</th>
                                                    <th style="width:7%;">{{ 'edit' | trans }}</th>
                                                    <th style="width:8%;">{{ 'copy' | trans }}</th>
                                                    <th style="width:8%;">{{ 'delete' | trans }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
{% for workshop in workshops | sort %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {% include 'workshop/admin-workshop.html.twig' %}
    {% else %}
        {% if  workshop.theme.category is null or app.user in workshop.theme.category.users%}
            {% include 'workshop/admin-workshop.html.twig' %}
        {% endif %}
    {% endif %}
{% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
{% if total > 20 %}
                                    <ul class="pagination">
                                {#la fleche de retour arriere, désactivé si on est page 1#}
                                        <li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
                                            <a  class="page-link" href="{{ (page > 1) ? '?page='~(page - 1) : '' }}">
                                                <i class="bi bi-arrow-left-square"></i>
                                            </a>
                                        </li>

                                        {#total d'atelier diviser par la limit, arrondie à l'entier superieur,
                								        donne le nombre max de pages#}
            {% set pages = ((total / limit)|round(0, 'ceil'))%}
            {% for item in 1..pages %}
                                        <li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
                                            <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                                        </li>
            {% endfor %}
                                        <li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
                                            <a class="page-link" href="{{ (page < pages) ? '?page='~(page + 1) : '' }}">
                                                <i class="bi bi-arrow-right-square"></i>
                                            </a>
                                        </li>
                                    </ul>
{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
