{% extends 'base.html.twig' %}

{% block body %}
    {% set slug =  app.request.get('slug') %}
    <div class="container-fluid">
        <div class="row">
            <main class="col" id="content">
                <div class="row mb-2">
                    <div class="col-12">
                        {% include 'flashbag.html.twig' %}
                    </div>
                </div>
                {# TODO: LIMITER LAFFICHAGE AUX CATEGORIES ABONNEES ET AUX THEMES PUBLICS #}
                <div class="row mb-3">
                    <div class="col-12">
                        {% if app.request.get('view') == "tile" %}
                            <div class="card-columns">
                                {% for workshop in workshops %}
                                    <a href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : slug ~ "_" ~ workshop.name | slugify }) }}"
                                       class="card-link">
                                        <div class="card mb-4 p-1 shadow-sm">
                                            {% if workshop.image %}
                                                {% if workshop.image|split('.')|last is same as('svg') %}
                                                    <img  src="{{ asset('img/upload/workshops/'~ workshop.image)}}" class="m-1 mr-2 float-left img-fluid" >
                                                {% else %}
                                                    <img class="m-1 mr-2 float-left img-fluid"
                                                     src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
                                                {% endif %}
                                            {% else %}
                                                {% if workshop.theme.image %}
                                                    {% if workshop.theme.image|split('.')|last is same as('svg') %}
                                                        <img  src="{{ asset('img/upload/themes/'~ workshop.theme.image)}}" class="m-1 mr-2 float-left rounded img-fluid" >
                                                    {% else %}
                                                    <img class="m-1 mr-2 float-left img-fluid"
                                                         src="{{ vich_uploader_asset(workshop.theme, 'imageFile') | imagine_filter('workshops_home') }}"/>
                                                    {% endif %}
                                                {% else %}
                                                    <img class="m-1 mr-2 float-left img-fluid"
                                                         src="{{ asset('img/logo_aem.png') }}"/>
                                                {% endif %}
                                            {% endif %}
                                            <div class="card-body pt-2">
                                                <div class="row">
                                                    <div class="{{ (app.request.get('view') == "tile")  ? "col-12" : "col-5" }}">
                                                        <h4 class="card-title">{{ workshop.name }}</h4>
                                                        <p class="card-text text-justify">{{ workshop.description | striptags | truncate(250, true) | raw }}</p>
                                                    </div>
                                                </div>

                                                <!--<div class="d-flex d-flex-nowrap mt-2">
                                                    <div class="avatar avatar-list avatar-sm bg-light text-secondary">CB</div>
                                                    <div class="avatar avatar-list avatar-sm bg-light text-secondary">CB</div>
                                                    <div class="avatar avatar-list avatar-sm bg-light text-secondary">CB</div>
                                                    <div class="avatar avatar-list avatar-sm bg-light text-secondary">CB</div>
                                                </div>-->
                                                <hr/>
                                                <div class="d-flex bd-highlight mb-3">
                                                    <div class="mr-auto p-2 bd-highlight">{{ workshop.dateBegin |date("d/m/Y") }}</div>
                                                    <div class="p-2 bd-highlight">{{ workshop.dateEnd |date("d/m/Y") }}</div>
                                                </div>
                                                <div class="progress">

                                                    <div class="progress-bar bg-success" role="progressbar"
                                                         style="width: {{ progress(workshop.dateBegin, workshop.dateEnd) }}%;"
                                                         aria-valuenow="{{ progress(workshop.dateBegin, workshop.dateEnd) }}"
                                                         aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
