{% for workshop in workshops %}
    {% set nbProposals = 0 %}
    {% set nbForums = 0 %}
    {% set nbProposals =  nbProposals + workshop.proposals.count %}
    {% for proposal in workshop.proposals %}
        {% set nbForums = nbForums + proposal.forums.count %}
    {% endfor %}

        {# Si on peut voter, on le signale par un code vert et un message, de meme pour la discussion #}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <a href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : slug ~ "_" ~ workshop.name | slugify }) }}" class="card-link">
    {% if workshop.image %}
        {% if workshop.image|split('.')|last is same as('svg') %}
                    <img class="bd-placeholder-img img-fluid mx-auto d-block" src="{{ asset('img/upload/workshops/'~ workshop.image)}}"  >
        {% else %}
                    <img class="bd-placeholder-img img-fluid mx-auto d-block" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('themes_home') }}"/>
        {% endif %}
    {% else %}
                    <img class="bd-placeholder-img img-fluid mx-auto d-block" src="{{ asset('img/logo_aem.png') }}"/>
    {% endif %}
                </a>
            </div>
            <div class="card-body border-top border-bottom {% if workshop.voteStatus or workshop.forumStatus %}green-tooltip{% else %}pink-tooltip{% endif %}">
                <a href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : slug ~ "_" ~ workshop.name | slugify }) }}" class="card-link">
                    <h3 class="text-center">
    {{ workshop.name }}
                    </h3>
                </a>
            </div>
            <div class="card-footer">
                <ul class="list-group">
                    <li class="list-group-item">
    {% if workshop.voteStatus or workshop.forumStatus %}
                        <i class="bi bi-check-circle green"></i>
        {{ 'workshop.open' | trans }}
                        <ul class="list-group">
                            <li class="list-group-item">
        {% if workshop.voteStatus %}
                               <i class="bi bi-check-circle green"></i>
            {{ 'vote.open' | trans }}
        {% else %}
                                <i class="bi bi-x-circle pink"></i>
            {{ 'vote.close' | trans }}
        {% endif %}
                            </li>
                            <li class="list-group-item">
        {% if workshop.forumStatus %}
                                <i class="bi bi-check-circle green"></i>
            {{ 'forum.open' | trans }}
        {% else %}
                                <i class="bi bi-x-circle pink"></i>
            {{ 'forum.close' | trans }}
        {% endif %}
                            </li>
                        </ul>
    {% else %}
                        <i class="bi bi-x-circle pink"></i>
        {{ 'workshop.close' | trans }}
    {% endif %}
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-bar-chart-line"></i>
    {{ nbProposals }} {{ 'proposals' | trans }}
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-chat-text-fill"></i>
    {{ nbForums }} {{ 'forums' | trans }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}


