<div class="card mb-5 mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-img2">
{% if workshop.image %}
    {% if workshop.image|split('.')|last is same as('svg') %}
                    <img class="bd-placeholder-img card-img-top img-fluid" height="250" src="{{ asset('img/upload/workshops/'~ workshop.image)}}"  >
    {% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
    {% endif %}
{% elseif workshop.theme.image %}
    {% if workshop.theme.image|split('.')|last is same as('svg') %}
                    <img class="bd-placeholder-img card-img-top img-fluid" height="250" src="{{ asset('img/upload/themes/'~ workshop.theme.image)}}"  >
    {% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(workshop.theme, 'imageFile') | imagine_filter('themes_home') }}"/>
    {% endif %}
{% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ asset('img/logo_aem-lg.png') }}"/>
{% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card-text">
                    {{ workshop.description | raw }}
                    <small class="text-muted">
{% for k in workshop.keywords %}
                        <a href="{{ path('workshop_tags',{'id':k.id}) }}"> #{{ k.name }}</a>
{% endfor %}
                    </small>
                    <p>
                        {% include 'workshop/document-view.html.twig' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <a href="{{path('workshop_show', {'workshop' : workshop.id, 'slug' : app.request.get('slug') })}}" class="btn btn-primary" ><i class="bi bi-arrow-left-short"></i>{{ 'back_to_workshop' | trans }}</a>
    </div>
</div>