{% extends 'base.html.twig' %}{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'delegation' | trans }}
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}		
{% block header %}
	<header>
	    <div class="container-fluid">
	        <div class="d-flex justify-content-center align-content-center">
				<h1 class="text-center">{{ 'theme_delegation' | trans }} {{ theme.name }}</h1>
			</div>
		</div>
	</header>
{% endblock %}
	<main id="delegation">
		<div class="container">
			<div class="row row-cols-1 d-flex justify-content-around mb-5">
			    <div class="card mt-3 shadow-lg">
			        <div class="card-body">
			        	<div class="row">
					        <div class="col-lg-4 col-sm-6">
				                <img src="{{ asset('img/logo_aem-lg.png') }}"  class="mx-auto my-5 img-fluid" >
				            </div>
					        <div class="col-lg-8 col-sm-6">
					            <div class="card-text">
{{ 'jumbo_explication_deleg-2' | trans | markdown_to_html }}
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12">
					<div class="card mb-5 mt-3 shadow">
						<div class="card-body">
							<h2>{{ theme.name }}</h2>
							<p> {{ theme.description | raw }}</p>
							<div class="row">
							{{ form(form, {'attr' : { 'class' : 'col-12'}}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
