{% extends 'base.html.twig' %}

{% block title %}Hello KeywordController!{% endblock %}

{% block body %}
<body class="config">
    <div class="container-fluid">
        {% include 'admin.menu.html.twig' %}
        <div class="container">
    <h1 class="text-center">{{ 'keyword' | trans }}</h1>
        </div>
    </div>
</body>
<div class="row mb-2">
    <div class="col-12">
{% for keyword in keywords %}
    <ul>
        <li>{{ keyword }}</li>
    </ul>
     </div>
</div>
    {% endfor %}
{% endblock %}
