{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
	<div class="container-fluid p-0">
{% include 'admin.menu.html.twig' %}
		<div class="row">
			<main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<header>
					<h1 class="text-center">{{'dashboard' | trans }}</h1>
        			<div class="container">
            			<div class="col-12">
                			<div class="card p-3 mb-3">
						{{ 'jumbo_explication_table' | trans  | markdown_to_html }}
                			</div>
						</div>
					</div>
				</header>
{% if is_granted ('ROLE_ADMIN')  %}
				<div class="container">
					<div class="row mt-5">
<!-- Affichage du card des Utilisateurs -->
						<div class="col-md-6 col-lg-4 col-sm-12">
							<a href="{{ path('user_admin') }}" class="card-link">
								<div class="card mb-3 shadow dashboard">
									<h2 class="card-title"><span class="rounded-circle btn-dashboard"><i class="bi bi-people"></i></span>{{ users | length }} {{ 'user-s' | trans }}</h2>
								</div>
							</a>
						</div>
<!-- Affichage du card des Catégories -->
						<div class="col-md-6 col-lg-4 col-sm-12">
							<a href="{{ path('category_admin') }}" class="card-link">
								<div class="card mb-3 shadow dashboard">
									<h2 class="card-title"><span class="rounded-circle btn-dashboard"><i class="bi bi-folder"></i></span>
										{{ category | length }} {{ 'categorie-s' | trans }}</h2>
								</div>
							</a>
						</div>
<!-- Affichage du card des Thèmes -->
						<div class="col-md-6 col-lg-4 col-sm-12">
							<a href="{{ path('theme_admin') }}" class="card-link">
								<div class="card mb-3 shadow dashboard">
									<h2 class="card-title"><span class="rounded-circle btn-dashboard"><i class="bi bi-folder"></i></span>
										{{ themes | length }} {{ 'theme-s' | trans }}</h2>
								</div>
							</a>
						</div>
<!-- Affichage du card des Ateliers -->
						<div class="col-md-6 col-lg-4 col-sm-12">
							<a href="{{ path('workshop_admin') }}" class="card-link">
								<div class="card mb-3 shadow dashboard">
									<h2 class="card-title"><span class="rounded-circle btn-dashboard"><i class="bi bi-chat-right-text"></i></span>
										{{ workshops | length }} {{ 'workshop-s' | trans }}</h2>
								</div>
							</a>
						</div>
<!-- Affichage du card des Mots-clefs -->
						<div class="col-md-6 col-lg-4 col-sm-12">
							<a href="{{path('keyword_admin') }}" class="card-link">
								<div class="card mb-3 shadow dashboard">
									<h2 class="card-title"><span class="rounded-circle btn-dashboard"><i class="bi bi-book"></i></span>
										{{ keywords | length }} {{ 'keyword-s' | trans }}</h2>
								</div>
							</a>
						</div>
					</div>
				</div>
{% endif %}
			</main>
		</div>
	</div>
{% endblock %}
