{% extends 'base.html.twig' %}
{% block body  %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <header>
                    <h1 class="text-center">
{{ 'configuration' | trans }}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_conf' | trans  | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
 {% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
                                    <div class="container mt-3 configContainer">
                                        <div class="configImage" >
                                    {# Container de l'image du site #}
                                            <p>
{{ 'background_img' | trans }}
                                            </p>
{% if website.image %}
    {% if website.image|split('.')|last is same as('svg') %}
                                            <img src="{{ asset('img/upload/wallpapers/'~ website.image)}}" class="img-fluid" alt="{{ website.title }}" style="height: 100px;width:100px; margin-left: 35%">
    {% else %}
                                            <img src="{{ vich_uploader_asset(website, 'imageFile') | imagine_filter('themes_home') }}" class="img-fluid" alt="{{ website.title }}" style="padding-bottom: 30px; height: 80%; margin-left: 35%"/>
    {% endif %}

                                            <input id="fauxBoutonSupprimer" class="configParDessusSupprimerImage btn btn-danger btn-sm" type="button" value="{{ 'delete'|trans }}">
                                            <article class="configInvisibleInputImage" >
    {{ form_row(form.imageFile) }}
                                            </article>
{% else %}
                                            <img src="{{ asset('img/logo_aem-lg.png') }}" class="img-fluid" alt="logo" style="padding-bottom: 20px; height: 80%; margin-left: 35%"/>
                                            <input id="fauxBoutonImage" class="configParDessusImage btn btn-secondary btn-sm" type="button" value="{{ 'choose'| trans }}">
                                            <article class="configInvisibleInputImage" >
    {{ form_row(form.imageFile) }}
                                            </article>
{% endif %}
                                        </div>


                                        <div class="configImage" >
                                    {# Container du logo du site #}
                                            <p>
{{ 'logo' | trans }}
                                            </p>
{% if website.logo %}
    {% if website.logo|split('.')|last is same as('svg') %}
                                            <img src="{{ asset('img/upload/website/'~ website.logo)}}" class="img-fluid" alt="{{ website.title }}" style="padding-bottom: 30px; height: 80%; margin-left: 35%">
    {% else %}
                                            <img src="{{ vich_uploader_asset(website, 'logoFile') | imagine_filter('themes_home') }}" class="img-fluid" alt="{{ website.title }}" style="padding-bottom: 30px; height: 80%; margin-left: 35%"/>
    {% endif %}
                                            <input id="fauxBoutonSupprimer" class="configParDessusSupprimerImage btn btn-danger btn-sm" type="button" value="{{ 'delete'|trans }}">
                                            <article class="configInvisibleInputImage" >
    {{ form_row(form.logoFile) }}
                                            </article>
{% else %}
                                            <img src="{{ asset('img/logo_aem-lg.png') }}" class="img-fluid" alt="logo" style="padding-bottom: 20px; height: 80%; margin-left: 35%"/>
                                            <input id="fauxBoutonLogo" class="configParDessusImage btn btn-secondary btn-sm" type="button" value="{{ 'choose'| trans }}">
                                            <article class="configInvisibleInputImage" >
    {{ form_row(form.logoFile) }}
                                            </article>
{% endif %}
                                        </div>
                                    </div>
                                <div class="invisible">
{{ form_row(form.url) }}
                                </div>
{{ form_row(form.indexing) }}
{{ form_rest(form) }}
{{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script >


let inputImage = document.getElementById('website_imageFile_file');
let inputLogo = document.getElementById('website_logoFile_file');

let checkSupprimerLogo = document.getElementById('website_logoFile_delete');
let checkSupprimerImage = document.getElementById('website_imageFile_delete');

//Permet de soumettre le formulaire dès le changement de photo
inputImage.onchange = function (){
    let form = document.getElementById('form_upload');
    form.submit();
}
inputLogo.onchange = function (){
    let form = document.getElementById('form_upload');
    form.submit();
}

//Permet de soumettre le formulaire dès le click sur "Supprimer" sous photo
checkSupprimerLogo.onchange = function (){
     let form = document.getElementById('form_upload');
    form.submit();
}
checkSupprimerImage.onchange = function (){
     let form = document.getElementById('form_upload');
    form.submit();
}

{# permet d'actualiser le champ de l'inputfile avec le nom du fichier #}

$('.custom-file-input').on('change', function(event) {
  let inputFile = event.currentTarget;
  $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
</script>
{% endblock %}