<!DOCTYPE html>
<html lang="{% block language %}{{ params.website.language }}{% endblock %}"
      dir="{% block ecriture %}{{ params.website.ecriture }}{% endblock %}">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if service.isIndexing is same as(true) %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <title>
        {% block title %}
            {% if website.title %}
                {{ website.title }}
            {% else %}
                {{params.website.title}}
            {% endif %}
        {% endblock %}
    </title>
    <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl }}">

    <meta property="og:site_name" content="
{% if website.title %}
                {{ website.title }}
            {% else %}
                Agora
            {% endif %}"/>
    <meta property="og:locale" content="{% block lang %}{{ params.website.lang }}{% endblock %}"/>
    <meta property="og:title" content="{% if website.title %} {{ website.title }} {% else %} {{params.website.title}} {% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl }}"/>
 

    <meta property="og:image" content="{{ absolute_url(asset('img/logo_aem-lg.png')) }}"/>
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ asset('img/logo_aem-32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ asset('img/logo_aem-64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ asset('img/logo_aem-96.png') }}" type="image/png">
    <link rel="icon" sizes="196x196" href="{{ asset('img/logo_aem-196.png') }}" type="image/png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/logo_aem-60.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/logo_aem-76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/logo_aem-114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/logo_aem-120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/logo_aem-144.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('img/logo_aem-144.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
          <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/menu.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/media-queries.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        {% if website.imageFile %}
            {% if website.imageFile|split('.')|last is same as('svg') %}
                <style>
                    {# les pages dont l'arrière plan doit être l'image #}
                    body.config, body#public {
                        background-image: url("{{ asset('img/upload/wallpapers/'~ website.image) }}");
                        background-color: {{ service.getWebsiteColor }};
                        background-attachment: fixed;
                        background-position: left bottom -15%;
                        background-size: 50% 50%;
                        background-repeat: no-repeat;
                    }
                </style>
            {% else %}
                <style>
                    {# les pages dont l'arrière plan doit être l'image #}
                    body.config, body#public {
                        background-image: url("{{ vich_uploader_asset(website,'imageFile') | imagine_filter('wallpaper') }}");
                        background-color: {{ service.getWebsiteColor }};
                        background-attachment: fixed;
                        background-position: left bottom -15%;
                        background-size: 50% 50%;
                        background-repeat: no-repeat;
                    }
                </style>
            {% endif %}
        {% endif %}
        <!-- <style>
            body{
                background-color: {{ service.getWebsiteColor }};
            }
        </style>-->
    {% endblock %}
</head>
{% block body %}{% endblock %}
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

</div>
{% block javascript %}
          <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
          <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
          <script src="{{ asset('js/bootstrap-confirmation.min.js') }}"></script>
          <script src="{{ asset('js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
          <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>

          <script src="{{ asset('js/jquery.backstretch.min.js') }}" type="text/javascript"></script>
          <script src="{{ asset('js/wow.min.js') }}" type="text/javascript"></script>
          <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}" type="text/javascript"></script>


    {#Permet de prevenir l'utilisateur que sa session expire + redirection#}
    {% if app.user %}
        <script>
            let now = new Date();
            let expire = new Date();
            //La session expire en 20 minutes d'inactivités
            expire.setTime(now.getTime() + (20 * 60 * 1000));

            setInterval(function (){
                let now = new Date();
                if(now > expire){
                    alert("{{ 'session.timeout'|trans }}");
                    document.location.href="{{ path('app_logout') }}";
                }
            }, 21 * 60 * 1000);
            //Verification faite toutes les 21 minutes 
        </script>
    {% endif %}


{# permet d'actualiser le champ de l'inputfile avec le nom du fichier #}
<script>
$('.custom-file-input').on('change', function(event) {
  let inputFile = event.currentTarget;
  $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
</script>

		{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>
