{# Fichier pour personnaliser l'affichage des champs de formulaire (cf : https://symfony.com/doc/current/form/form_themes.html#creating-your-own-form-the) #}


{%- block vich_image_row -%}
    {# Empeche double affichage de l'image #}
<div class="vich-image">
    {{- form_label(form.file)  }}
    {{- form_widget(form.file) -}}
    {%- if form.delete is defined -%}
        {{- form_row(form.delete) -}}
    {%- endif -%}
{#    #}{# REMOVE THE BLOCK BELOW TO REMOVE IMAGE OR DOWNLOAD LINKS#}
{#    {%- if image_uri -%}#}
{#        <a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}"><img src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" alt="" /></a>#}
{#    {%- endif -%}#}
{#    {%- if download_uri -%}#}
{#        <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>#}
{#    {%- endif -%}#}
</div>
{%- endblock -%}

