<header>
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-content-center">
            <h1 class="text-center">
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
            </h1>
        </div>
    </div>
</header>