{% extends 'base.html.twig' %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
    <main id="home">
        <div class="container">
{% if themes is empty %}
    {% include 'default/jumbotron.html.twig' %}
{% else %}
    {% include 'flashbag.html.twig' %}
        <div class="row row-cols-1 d-flex justify-content-around mb-5">
                        {# Si l'utilisateur n'est pas connecté, on lui propose de se connecter ou de s'inscrire en lui montrant les themes publics #}
    {% if not app.user %}
        {% if not themes is empty %}
            {% include 'default/jumbotron-new-user.html.twig' %}
        {% else %}
            {% include 'default/jumbotron-empty.html.twig' %}
        {% endif %}
    {% else %}
        {% include 'default/jumbotron.html.twig' %}
    {% endif %}
        </div>
        <div class="row row-cols-2 d-flex mb-5">
    {% for theme in themes %}
        {% if  theme.isPublic or is_granted('ROLE_ADMIN_RESTRICTED') or app.user in theme.category.users %}
            {% include 'default/themes.html.twig' %}
        {% endif %}
    {% endfor %}
        </div>
    {% if app.user and app.user.categories.count == 0 %}
        <p class="text-center">{{ 'no-categories' | trans({'%link_start%' : '<a href="'~path('category_request')~'">', '%link_end%' : '</a>'}) | raw }}</p>
    {% endif %}
{% endif %}
    </main>
{% endblock %}

