

<!-- Menu haut -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container-fluid px-4">
            <a class="navbar-brand" href="{{ path('homepage') }}">
{% if website.logo %}
    {% if website.logo|split('.')|last is same as('svg') %}
                <img src="{{ asset('img/upload/wallpapers/'~ website.logo)}}" class="logo-small" alt="{{ website.title }}" />
    {% else %}
                <img src="{{ vich_uploader_asset(website, 'logoFile') | imagine_filter('themes_home') }}" class="logo-small" alt="{{ website.title }}" />
    {% endif %}
{% else %}
    <img src="{{ asset('img/logo_aem-sm.png') }}" class="img-fluid" alt="logo" />
{% endif %}
{% if website.title %}
    {{ website.title }}
{% else %}
    {{params.website.title}}
{% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="bi bi-view-list"></i></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
{% if app.user %}
                    {# Link to Homepage #}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">
                            <i class="bi bi-house"></i><span>{{ 'home' | trans }}</span>
                        </a>
                    </li>
                    {# Link to delegations page #}
                   <li class="nav-item">
                        <a class="nav-link" href="{{ path('delegation_index') }}">
                            <i class="bi bi-person-plus-line-fill"></i><span>{{ 'delegations' | trans }}</span>
                        </a>
                    </li>
                    {# Link to Administration of site page #}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMIN_RESTRICTED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">
                            <i class="bi bi-sliders"></i><span>{{ 'admin' | trans }}</span>
                        </a>
                    </li>
    {% endif %}
                    {# Logout #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="monIdentite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if app.user.image %}
        {% if app.user.image|split('.')|last is same as('svg') %}
                <img   height="20px" src="{{ asset('img/upload/users/'~ app.user.image)}}">
        {% else %}
                <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('themes_list')}}" />
        {% endif %}
    {% else %}
                <span class="rounded-circle avatar-sm text-center">
    {{ app.user.firstname| first | capitalize }}{{app.user.lastname | first | capitalize }}
                </span>
    {% endif %}
<span>{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="monIdentite">
                    {# Link to personal profile #}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_edit_by_user') }}">
                                    <i class="bi bi-person-lines-fill"></i><span>{{ 'profile' | trans }}</span>
                                </a>
                            </li>
                    {# Link to Notifications #}
                            <li class="dropdown nav-item">
    {% if app.user.numberUnreadNotifications != 0 %}
                                <a class="nav-link" href="{{ path('notification') }}">
                                    <i class="bi bi-circle"></i><span>{{ 'notifications' | trans }}</span> <i class="bi bi-exclamation-circle"></i>{{ app.user.numberUnreadNotifications }}
                                </a>
    {% else %}
                                <a class="nav-link" href="{{ path('notification') }}">
                                    <i class="bi bi-circle"></i><span>{{ 'notifications' | trans }}</span>
                                </a>
    {% endif %}
                            </li>
                            <li class="dropdown nav-link"><a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i><span>{{ 'logout' | trans }}</span></a></li>
                        </ul>
                    </li>
{% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_login')}}"><i class="bi bi-person-check"></i> {{'login' | trans }}</a>
                    </li>
{% endif %}
                </ul>
            </div>
        </div>
    </nav>


