{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
{{ 'cgu' | trans }}
                    </h1>
                    <h2 class="text-center">
{{ 'category' | trans }} : {%for cgu in cgus %}{{ cgu.category.name }}{% endfor %}
                    </h2>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_cgu' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}


{% for cgu in cgus %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
    {% if cgu.pdfFilename|split('.')|last is same as('txt') or cgu.pdfFilename|split('.')|last is same as('md') %}
                                    <a href="{{ path('read_cgu', {'id':cgu.id})}}" target="_blank">{{ 'cgu' | trans}} - {{ cgu.name}} ({{ cgu.category.name }})</a>
    {% else %}
                                    <a href="{{ asset('pdf/upload/cgu/' ~ cgu.pdfFilename) }}" target="_blank">{{ 'cgu' | trans}} - {{ cgu.name}} ({{ cgu.category.name }})</a>
    {% endif %}
    {% if is_granted ('ROLE_ADMIN') and cgu.id != 1 %}
                                    <a href="{{ path('delete_cgu', {'id':cgu.id}) }}" class="text-primary"  data-toggle="deleteConfirmation"><i class="bi bi-trash"></i></a>
    {% endif %}
    {% if cgu in app.user.cguAccepted %}
                                    <p>{{ 'cgu.already.accepted' | trans }}</p>
    {% else %}
                                    <p><a href="{{ path('accept_cgu', {'id':cgu.id}) }}">{{ 'cgu.accept'|trans }}</a></p>
    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
{% endfor %}
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

