{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %}  
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
	<div class="container-fluid">
		<div class="row">
{% include 'admin.menu.html.twig' %}
			<main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
			    <header>
			        <h1 class="text-center">
{{ 'list_of' | trans }} {{ 'themes' | trans | lower }}
			        </h1>
			        <div class="container">
			            <div class="col-12">
			                <div class="card p-3 mb-3">
{{ 'jumbo_explication_themes' | trans | markdown_to_html }}
			                </div>
			            </div>
			        </div>
			    </header>
{% endblock %}
			    <div class="container mt-3 mb-5">
					{% include 'flashbag.html.twig' %}
					<div class="row mb-2">
						<div class="col-12"> 
							<a href="{{ path('theme_admin') }}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'themes' | trans | lower }}</a>
						</div>
					</div>
					<div class="row mt-3" >
						<div class="col-12">
							<div class="card">
								<div class="card-body">
		{% include 'theme/add-form.html.twig' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

{% endblock %}

{% block javascript %}
{{ parent() }}

<script>



{# Afficher ou non la selection de points si vote à point selectionné #}

let selectVote = document.getElementById('theme_voteType');
let selectPoints = document.getElementById('theme_points');
let parent = selectPoints.parentElement;

parent.setAttribute('style', 'display:none');

selectVote.onchange = function () {
	if(selectVote.value === 'weighted' || selectVote.value === 'weighted-delegation'){
		parent.setAttribute('style', 'display:initial');
	}else{
		parent.setAttribute('style', 'display:none');
	}
}


{# Affiche les modes de votes disponible en fonction des délégations acceptés ou non #}
let checkDelegation = document.getElementById('delegationPossible');
let delegationDeepness = document.getElementById('theme_delegationDeepness');

//Par defaut, la checkbox n'est pas cochée, on enlève donc tout ce qui touche aux délégations
delegationDeepness.setAttribute('style', 'display: none;');
delegationDeepness.parentElement.setAttribute('style', 'display: none;');
selectVote.value = 'no-delegation';
$("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', false);
$("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', true);

//On actualise ce qu'on affiche ou non en fonction de la valeur de la checkbox
checkDelegation.onchange = function(){
	if (checkDelegation.checked === true){
		delegationDeepness.setAttribute('style', 'display: initial;')
		delegationDeepness.parentElement.setAttribute('style', 'display: initial;');
		selectVote.value = 'yes-delegation';
		parent.setAttribute('style', 'display:none');
		$("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', true);
		$("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', false);
	}else{
		delegationDeepness.setAttribute('style', 'display: none;');
		delegationDeepness.parentElement.setAttribute('style', 'display: none;');
		selectVote.value = 'no-delegation';
		parent.setAttribute('style', 'display:none');
		$("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', false);
		$("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', true);
	}
}

</script>



{#<script>#}
{# Permet d'empecher d'entrer une profondeur de délégation si le champ voteType n'est pas sur 'yes-delegation' #}
{#    window.onLoad=()=>{#}
{#        let voteType = document.querySelector("#theme_voteType");#}
{#        voteType.addEventListener("change", function () {#}
{#            let form = this.closest("form");#}
{#            let data = this.name + "=" + this.value;#}

{#            fetch(form.action, {#}
{#                method: form.getAttribute("method"),#}
{#                body: data,#}
{#                headers: {#}
{#                    "Content-Type": "application/x-www-form-urlencoded;" +#}
{#                     "charset:utf-8"#}
{#                }#}
{#            })#}
{#            .then(response=>response.text())#}
{#            .then(html => {#}
{#                let content = document.createElement("html");#}
{#                content.innerHTML = html;#}
{#                let nouveauSelect = content.querySelector("#theme_delegationDeepness");#}
{#                document.querySelector("#theme_delegationDeepness").replaceWith(nouveauSelect);#}
{#            })#}
{#            .catch(error=>{#}
{#                console.log(error);#}
{#            })#}
{#        })#}
{#    }#}
{#</script>#}
{% endblock %}

