{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'discussions' | trans }}
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
{{ 'discussions' | trans }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
	<main id="forum">
{% include 'forum/workshop-menu.html.twig' %}
{% if app.user %}
		<div class="row mb-3" >
			<div class="col-12">
				<div class="d-flex">
					<div class="mr-auto">
						<div class="btn-group" role="group">
							<a href="{{ path('forum_add', {'workshop' : workshop.id,'proposal' : proposal.id, 'slug' : workshop.theme.name | slugify ~ '_' ~ workshop.name | slugify}) }}" class="btn btn-primary "><i class="bi bi-plus"></i> {{ 'add' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endif %}
		<div class="row" >
			<div class="col-12">
				<div class="card">
					<div class="card-body">			
{% for forum in forums %}
						<div class="col-12 mb-3 d-flex flex-row ">
							<div class="mr-4 mt-3">
								<h5 class="avatar avatar-sm bg-secondary d-none d-lg-block">{{ forum.user.username | first | capitalize }}</h5>
							</div>
							<div style="width:75%;text-align:left;padding : 10px 10px 10px 0px;">
								<div style="background-color : #EAEAEA;padding:	5px;">
									<div class="content" style="padding : 10px">
										<h5 class="card-title">{{forum.name}}</h5>
										<p class="card-text">{{forum.description | raw}}</p>
									</div>
								</div>
							</div>
						</div>
{% endfor %}
					</div>	
				</div>
			</div>
		</div>
	</main>
{% endblock %}
